.highlight  {
  background: $nord2;
  padding: 1px 1em;
  border-radius: 3px;
  font-size: 1em;
  font-size: 0.9em;
  overflow: auto;
  margin: 1em -1em;
  code{
    padding: 0;
  }
}

div.highlight {
  display: grid;
}

.highlight .c { color: darken($nord4, 25); font-style: italic } /* Comment */
.highlight .err { color: $nord11; background-color: $nord3 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: darken($nord4, 25); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: darken($nord4, 25); font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: darken($nord4, 25); font-style: italic } /* Comment.Single */
.highlight .cs { color: darken($nord4, 25); font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: $nord11; background-color: $nord3 } /* Generic.Deleted */
.highlight .gd .x { color: $nord11; background-color: $nord3 } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $nord11 } /* Generic.Error */
.highlight .gh { color: $nord3 } /* Generic.Heading */
.highlight .gi { color: $nord11; background-color: $nord3 } /* Generic.Inserted */
.highlight .gi .x { color: $nord11; background-color: $nord3 } /* Generic.Inserted.Specific */
.highlight .go { color: $nord3 } /* Generic.Output */
.highlight .gp { color: $nord4 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $nord3 } /* Generic.Subheading */
.highlight .gt { color: $nord11 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $nord8; font-weight: bold } /* Keyword.Type */
.highlight .m { color: $nord15 } /* Literal.Number */
.highlight .s { color: $nord13 } /* Literal.String */
.highlight .na { color: $nord14 } /* Name.Attribute */
.highlight .nb { color: $nord14 } /* Name.Builtin */
.highlight .nc { color: $nord8; font-weight: bold } /* Name.Class */
.highlight .no { color: $nord14 } /* Name.Constant */
.highlight .ni { color: $nord4 } /* Name.Entity */
.highlight .ne { color: $nord14; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $nord14; font-weight: bold } /* Name.Function */
.highlight .nn { color: $nord4 } /* Name.Namespace */
.highlight .nt { color: $nord11 } /* Name.Tag */
.highlight .nv { color: $nord14 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: $nord4 } /* Text.Whitespace */
.highlight .mf { color: $nord15 } /* Literal.Number.Float */
.highlight .mh { color: $nord15 } /* Literal.Number.Hex */
.highlight .mi { color: $nord15 } /* Literal.Number.Integer */
.highlight .mo { color: $nord15 } /* Literal.Number.Oct */
.highlight .sb { color: $nord13 } /* Literal.String.Backtick */
.highlight .sc { color: $nord13 } /* Literal.String.Char */
.highlight .sd { color: $nord13 } /* Literal.String.Doc */
.highlight .s2 { color: $nord13 } /* Literal.String.Double */
.highlight .se { color: $nord13 } /* Literal.String.Escape */
.highlight .sh { color: $nord13 } /* Literal.String.Heredoc */
.highlight .si { color: $nord13 } /* Literal.String.Interpol */
.highlight .sx { color: $nord13 } /* Literal.String.Other */
.highlight .sr { color: $nord13 } /* Literal.String.Regex */
.highlight .s1 { color: $nord13 } /* Literal.String.Single */
.highlight .dl { color: $nord13 } /* Literal.String.Delimiter */
.highlight .ss { color: $nord13 } /* Literal.String.Symbol */
.highlight .bp { color: $nord3 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $nord14 } /* Name.Variable.Class */
.highlight .vg { color: $nord14 } /* Name.Variable.Global */
.highlight .vi { color: $nord14 } /* Name.Variable.Instance */
.highlight .il { color: $nord15 } /* Literal.Number.Integer.Long */
